/*NOSOTROS*/

.nosotros {
    background-color: rgba(169, 169, 169, 0.116);
    width:auto;
    height: 500;
    display:flex;
    flex-direction: row;
    margin:20px 70px;
    padding: 15px;
    font-family:'Montserrat', sans-serif;
    color:black;
    font-weight:bold;
  }
  div.nosotros img.rigth {

    float: right;
    margin-right: 15px;
  }

